address==0.1.1
aniso8601==1.2.0
APScheduler==3.3.1
argh==0.26.2
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
autopep8==1.4.3
backports-abc==0.5
backports.csv==1.0.6
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.3
bitarray==0.8.3
bleach==3.1.0
blinker==1.4
brotlipy==0.6.0
bs4==0.0.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cheroot==6.5.2
CherryPy==17.4.1
click==6.7
colorama==0.4.1
ConfigArgParse==0.11.0
configparser==3.7.4
constantly==15.1.0
construct==2.5.3
contextlib2==0.5.5
coverage==4.5.2
cryptography==1.5.3
cssselect==1.0.3
cssutils==1.0.2
cycler==0.10.0
decorator==4.3.0
defusedxml==0.6.0
docutils==0.14
EditorConfig==0.12.2
entrypoints==0.3
enum34==1.1.6
feedparser==5.2.1
Flask==0.11.1
Flask-BasicAuth==0.2.0
Flask-Login==0.4.1
Flask-RESTful==0.3.5
flask-restful-swagger==0.19
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
glob2==0.6
greenlet==0.4.15
h2==2.4.4
hpack==2.3.0
html2text==2016.9.19
html5lib==1.0.1
hyperframe==4.0.2
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jaraco.functools==1.20
Jinja2==2.9.6
joblib==0.13.2
jsbeautifier==1.6.14
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
kiwisolver==1.1.0
lxml==3.6.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.4
mistune==0.8.4
mitmproxy==0.18.3
more-itertools==4.3.0
mysqlclient==1.3.13
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4
notebook==5.7.8
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parse==1.9.0
parse-type==0.4.2
parsel==1.5.1
passlib==1.6.5
pathlib-mate==0.0.14
pathlib2==2.3.3
pathtools==0.1.2
Pattern==3.6
pdfminer==20140328
phonenumbers==8.10.2
pickleshare==0.7.5
Pillow==9.0.0
plotly==3.8.1
portend==2.3
pprint==0.1
probableparsing==0.0.1
prometheus-client==0.6.0
prompt-toolkit==1.0.16
psycopg2==2.7.5
py==1.7.0
pyap==0.1.0
pyasn1==0.1.9
pyasn1-modules==0.2.2
pybloom==1.1
pycodestyle==2.4.0
pycparser==2.19
PyDispatcher==2.0.5
pydivert==0.0.7
Pygments==2.3.1
PyHamcrest==1.9.0
pymongo==3.5.1
-e git+https://github.com/classner/pymp.git@9895ec2ec01ad2778a400449cbfa17f162491180#egg=pymp_pypi
PyMySQL==0.7.11
pyOpenSSL==16.2.0
pyparsing==2.1.10
pyperclip==1.5.32
pypiwin32==223
pyrsistent==0.15.1
pytest==3.0.3
pytest-bdd==2.18.0
pytest-cov==2.4.0
pytest-describe==0.11.0
pytest-twisted==1.5
python-crfsuite==0.9.6
python-dateutil==2.6.0
python-docx==0.8.7
python-dotenv==0.10.3
pytz==2017.2
pywin32==224
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
queuelib==1.5.0
requests==2.22.0
requests-file==1.4.3
retrying==1.3.3
scandir==1.9.0
scikit-learn==0.20.3
scikit-surprise==1.0.6
scipy==1.1.0
scrapy-tdd==0.1.3
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
SpiderKeeper==1.2.0
SQLAlchemy==1.1.9
stripe==2.30.1
surprise==0.1
tempora==1.14
terminado==0.8.2
testpath==0.4.2
tldextract==2.2.0
tornado==4.4.3
traitlets==4.3.2
Twisted==18.9.0
typing==3.5.2.2
tzlocal==1.3
urllib3==1.24.1
urwid==1.3.1
usaddress==0.5.10
uszipcode==0.2.2
validate-email==1.3
vboxapi==1.0
virtualenv==16.4.3
w3lib==1.19.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.1
widgetsnbextension==3.4.2
win-unicode-console==0.5
WTForms==2.2.1
xlrd==1.1.0
zc.lockfile==1.4
zope.interface==4.6.0
